
  .page-header .container {
    display: flex;
    background-color: var(--title-color);
  }
  
  .page-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    overflow: hidden;
    background-color: var(--title-color);
    border-bottom: 1px solid #ececec;
  }
  
 .page-header__button{
   display: inline-flex;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
 
  
  &.is-open .page-header__icon-cross{
    display: block;
  }
 
   &.is-open .page-header__icon-menu{
  display: none;
 }

 & .page-header__icon-cross{
  display: none;
}
 }

  .head {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--alt-text-color);
  }
  
  .head .link .menu__item--current {
    color: var(--accent-color);
  }
  
  .menu {
    display: inline-flex;
  }
  
  .menu__item {
    position: relative;


    &:hover::after, &:focus::after {
      opacity: 1;
    }
  }
  
  .head .menu__item--current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
  
 
  
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .indent {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .contacts--indent{
    margin-left: auto;
  }

  .contacts {
    display: flex;
    align-items: center; 
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  
  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }
  
  .contact__svg--tel {
    width: 10px;
    height: 16px;
    stroke: currentColor;
    margin-right: 10px;
  }
  
  .contact__svg--mail {
    width: 16px;
    height: 12px;
    stroke: currentColor;
    margin-right: 10px;
  }
  
  .contact__link {
    display: flex;
    align-items: center;
  }
  
  .address {
    font-style: var(--main-font);
    color: var(--title-color);
    text-decoration: none;
  }
  
  .heading {
    margin: 40px 40px 12px 40px;
    width: 448px;
    height: 23px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--alt-text-color);
  }