:root {
    --main-text-color: #757575;
    --title-color: #ffffff;
    --accent-color: #2196f3;
    --alt-text-color: #212121;
    --background-color: #e5e5e5;
    --dark: #2f303a;
    --second: #f5f4fa;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
  }